@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
/* # events detail
-------------------------------------------------- */
#access-container .compay-info .text-container .name {
  font-weight: bold;
  line-height: 1; }

#access-container .access-info {
  position: relative; }
  #access-container .access-info:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    background-color: #e4e4e3; }
  #access-container .access-info li {
    background-color: #fff;
    position: relative;
    z-index: 1; }
    #access-container .access-info li .title {
      font-weight: bold; }
      #access-container .access-info li .title:before {
        background-color: #669d11;
        content: "";
        display: inline-block;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        position: relative; }
    #access-container .access-info li dl dt {
      font-weight: bold; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #access-container {
    margin-bottom: 90px; }
    #access-container .section-inner {
      width: 1080px;
      position: relative;
      padding-bottom: 60px; }
      #access-container .section-inner:after {
        width: 1320px;
        height: 540px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -80px;
        background-color: #f3f2f0; }
    #access-container .compay-info {
      margin-bottom: 42px; }
      #access-container .compay-info .logo {
        width: 285px;
        float: left; }
        #access-container .compay-info .logo svg {
          width: 285px;
          height: 60px; }
      #access-container .compay-info .text-container {
        width: 705px;
        float: right; }
        #access-container .compay-info .text-container .name {
          font-size: 14px;
          margin-bottom: 5px; }
    #access-container #access-map {
      width: 100%;
      height: 420px;
      margin-bottom: 50px; }
    #access-container .access-info {
      display: table; }
      #access-container .access-info:before {
        top: 10px;
        left: 10px; }
      #access-container .access-info li {
        display: table-cell;
        width: 360px;
        padding: 30px 0;
        border-right: 1px solid #e4e4e3; }
        #access-container .access-info li:last-child {
          border: 0; }
        #access-container .access-info li > * {
          padding-left: 27px;
          padding-right: 27px; }
        #access-container .access-info li .title {
          font-size: 18px;
          margin-bottom: 20px; }
          #access-container .access-info li .title:before {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            top: -4px; }
        #access-container .access-info li dl {
          margin-bottom: 10px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #access-container {
    margin-bottom: 90px; }
    #access-container .section-inner {
      width: 1080px;
      position: relative;
      padding-bottom: 60px; }
      #access-container .section-inner:after {
        width: 1320px;
        height: 540px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -80px;
        background-color: #f3f2f0; }
    #access-container .compay-info {
      margin-bottom: 42px; }
      #access-container .compay-info .logo {
        width: 285px;
        float: left; }
        #access-container .compay-info .logo svg {
          width: 285px;
          height: 60px; }
      #access-container .compay-info .text-container {
        width: 705px;
        float: right; }
        #access-container .compay-info .text-container .name {
          font-size: 14px;
          margin-bottom: 5px; }
    #access-container #access-map {
      width: 100%;
      height: 420px;
      margin-bottom: 50px; }
      #access-container #access-map > div {
        margin: 0 auto; }
    #access-container .access-info {
      display: table; }
      #access-container .access-info:before {
        top: 10px;
        left: 10px; }
      #access-container .access-info li {
        display: table-cell;
        width: 360px;
        padding: 30px 0;
        border-right: 1px solid #e4e4e3; }
        #access-container .access-info li:last-child {
          border: 0; }
        #access-container .access-info li > * {
          padding-left: 27px;
          padding-right: 27px; }
        #access-container .access-info li .title {
          font-size: 18px;
          margin-bottom: 20px; }
          #access-container .access-info li .title:before {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            top: -4px; }
        #access-container .access-info li dl {
          margin-bottom: 10px; } }

@media print {
  #access {
    width: 100%; }
    #access #document {
      zoom: 0.85;
      margin: auto; }
      #access #document #header-container {
        position: relative; }
  #access-container {
    margin-bottom: 90px; }
    #access-container .compay-info {
      width: 1080px;
      margin: 0 auto; }
    #access-container .btn {
      display: none; }
    #access-container .section-inner {
      width: 1080px;
      position: relative;
      padding-bottom: 60px;
      margin: 0 auto; }
      #access-container .section-inner:after {
        width: 100%;
        height: 540px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f3f2f0;
        margin: auto; }
      #access-container .section-inner .section-contents {
        width: 1080px;
        margin: 0 auto; }
    #access-container .compay-info {
      margin-bottom: 42px; }
      #access-container .compay-info .logo {
        width: 285px;
        float: left; }
        #access-container .compay-info .logo svg {
          width: 285px;
          height: 60px; }
      #access-container .compay-info .text-container {
        width: 705px;
        float: right; }
        #access-container .compay-info .text-container .name {
          font-size: 14px;
          margin-bottom: 5px; }
    #access-container #access-map {
      width: 1080px;
      height: 420px;
      margin: 0 auto 50px; }
    #access-container .access-info {
      display: table;
      width: calc(100% - 100px);
      margin: 0 auto; }
      #access-container .access-info:before {
        top: 10px;
        left: 10px; }
      #access-container .access-info li {
        display: table-cell;
        width: 33%;
        padding: 30px 0;
        border-right: 1px solid #e4e4e3; }
        #access-container .access-info li:last-child {
          border: 0; }
        #access-container .access-info li > * {
          padding-left: 27px;
          padding-right: 27px; }
        #access-container .access-info li .title {
          font-size: 18px;
          margin-bottom: 20px; }
          #access-container .access-info li .title:before {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            top: -4px; }
        #access-container .access-info li dl {
          margin-bottom: 10px; } }
