/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
@media only all and (min-width: 751px) {
  #concierge {
    padding-bottom: 100px; }
    #concierge .modal-area {
      display: none; }
    #concierge .section-contents > .text {
      font-size: 14px; }
    #concierge .sort-link {
      margin-top: 55px;
      border-bottom: 1px solid #e4e4e3; }
      #concierge .sort-link ul {
        position: relative;
        padding: 15px 0; }
        #concierge .sort-link ul:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -8px;
          left: 0;
          height: 16px;
          width: 1px;
          background: #282b30;
          -webkit-transform: skewX(-20deg);
                  transform: skewX(-20deg); }
        #concierge .sort-link ul li {
          display: inline-block;
          position: relative; }
          #concierge .sort-link ul li:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 0;
            height: 16px;
            width: 1px;
            background: #282b30;
            -webkit-transform: skewX(-20deg);
                    transform: skewX(-20deg); }
          #concierge .sort-link ul li a {
            padding: 0 30px;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            font-family: 'Roboto Condensed';
            text-decoration: none;
            color: #aaaaab; }
          #concierge .sort-link ul li.active a, #concierge .sort-link ul li a:hover {
            color: #669d11; }
    #concierge .concierge-list > ul {
      margin-left: -120px;
      width: 1290px;
      padding: 0 15px;
      overflow: hidden;
      background: url(../img/concierge/bg.png); }
      #concierge .concierge-list > ul li.concierge-item {
        margin-top: 60px;
        width: 430px;
        height: 327px; }
        #concierge .concierge-list > ul li.concierge-item .image {
          width: 220px;
          height: 220px;
          margin: 0 auto;
          border-radius: 110px;
          overflow: hidden; }
        #concierge .concierge-list > ul li.concierge-item .weekday {
          padding-top: 10px;
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          font-family: 'Roboto Condensed';
          color: #669d11;
          position: relative; }
          #concierge .concierge-list > ul li.concierge-item .weekday:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 28px;
            margin-left: -1px;
            top: -19px;
            background: #669d11; }
        #concierge .concierge-list > ul li.concierge-item .name {
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          font-size: 14px; }
          #concierge .concierge-list > ul li.concierge-item .name span {
            padding-left: 5px;
            font-size: 18px;
            font-weight: bold; }
        #concierge .concierge-list > ul li.concierge-item .kana {
          text-align: center;
          font-weight: bold;
          font-size: 10px;
          line-height: 21px;
          font-family: 'Roboto Condensed'; }
        #concierge .concierge-list > ul li.concierge-item .type {
          margin-top: 10px; }
          #concierge .concierge-list > ul li.concierge-item .type ul {
            text-align: center; }
            #concierge .concierge-list > ul li.concierge-item .type ul li {
              font-size: 12px;
              text-align: center;
              background: #fff;
              border-radius: 13px;
              height: 25px;
              line-height: 25px;
              display: inline-block;
              margin: 0 8px;
              padding: 0 30px;
              font-weight: bold;
              white-space: nowrap; }
  .concierge-modal {
    padding: 40px 40px 40px 340px;
    width: 470px;
    min-height: 340px; }
    .concierge-modal .image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 300px;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #d2e1cc;
      z-index: 1; }
      .concierge-modal .image.no-image {
        background-image: url(../img/concierge/no-image.png);
        background-size: auto; }
    .concierge-modal .weekday {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      font-family: 'Roboto Condensed';
      color: #669d11;
      position: relative;
      z-index: 10; }
      .concierge-modal .weekday:before {
        content: '';
        display: block;
        position: absolute;
        left: -80px;
        width: 68px;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        background: #669d11; }
    .concierge-modal .name {
      margin-top: 5px;
      font-weight: bold;
      font-size: 14px; }
      .concierge-modal .name span.name-text {
        font-size: 20px;
        font-weight: bold; }
      .concierge-modal .name span.kana {
        padding-left: 5px;
        font-weight: bold;
        font-size: 10px;
        line-height: 21px;
        font-family: 'Roboto Condensed'; }
    .concierge-modal .type {
      margin-top: 10px; }
      .concierge-modal .type ul {
        padding-left: 25px;
        background: url(../img/concierge/tag.svg) no-repeat left 8px;
        background-size: 12px 12px; }
        .concierge-modal .type ul li {
          color: #669d11;
          font-size: 12px;
          line-height: 24px;
          display: inline-block;
          margin-right: 10px;
          font-weight: bold;
          white-space: nowrap; }
    .concierge-modal .text {
      margin-top: 20px;
      font-size: 14px;
      line-height: 25px; }
    .concierge-modal .modal-number {
      position: absolute;
      bottom: -45px;
      width: 100%;
      left: 0;
      text-align: center;
      color: #fff;
      font-weight: bold;
      padding: 10px 0;
      font-size: 14px;
      line-height: 25px;
      font-family: 'roboto condensed';
      letter-spacing: 0.1em; } }

@media only all and (max-width: 750px) {
  #concierge {
    padding-bottom: 50px; }
    #concierge .modal-area {
      display: none; }
    #concierge .sort-select {
      margin-top: 20px;
      padding: 25px 0;
      border-top: 1px solid #e4e4e3;
      border-bottom: 1px solid #e4e4e3; }
    #concierge .concierge-list > ul {
      padding: 0;
      overflow: hidden;
      background: url(../img/concierge/bg-sp.png);
      background-size: 4px 285px; }
      #concierge .concierge-list > ul li.concierge-item {
        margin-top: 35px;
        height: 250px; }
        #concierge .concierge-list > ul li.concierge-item > .image {
          width: 140px;
          height: 140px;
          margin: 0 auto;
          border-radius: 110px;
          overflow: hidden; }
        #concierge .concierge-list > ul li.concierge-item > .weekday {
          padding-top: 10px;
          text-align: center;
          font-weight: bold;
          font-size: 12px;
          line-height: 21px;
          font-family: 'Roboto Condensed';
          color: #669d11;
          position: relative; }
          #concierge .concierge-list > ul li.concierge-item > .weekday:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 24px;
            margin-left: -1px;
            top: -15px;
            background: #669d11; }
        #concierge .concierge-list > ul li.concierge-item > .name {
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          font-size: 12px; }
          #concierge .concierge-list > ul li.concierge-item > .name span {
            padding-left: 5px;
            font-size: 16px;
            font-weight: bold; }
        #concierge .concierge-list > ul li.concierge-item > .kana {
          text-align: center;
          font-weight: bold;
          font-size: 10px;
          line-height: 21px;
          font-family: 'Roboto Condensed'; }
        #concierge .concierge-list > ul li.concierge-item > .type {
          margin-top: 10px; }
          #concierge .concierge-list > ul li.concierge-item > .type ul {
            text-align: center; }
            #concierge .concierge-list > ul li.concierge-item > .type ul li {
              font-size: 11px;
              text-align: center;
              background: #fff;
              border-radius: 10px;
              height: 20px;
              line-height: 20px;
              display: inline-block;
              margin: 0 8px;
              padding: 0 30px;
              font-weight: bold; }
  .concierge-modal .image {
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d2e1cc;
    z-index: 1; }
    .concierge-modal .image.no-image {
      background-image: url(../img/concierge/no-image-sp.png);
      background-size: 67px 47px; }
  .concierge-modal .weekday {
    padding: 15px 20px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    font-family: 'Roboto Condensed';
    color: #669d11;
    position: relative;
    display: inline-block; }
    .concierge-modal .weekday:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 24px;
      top: -15px;
      background: #669d11; }
  .concierge-modal .name {
    padding: 0 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px; }
    .concierge-modal .name span.name-wrap {
      display: block; }
    .concierge-modal .name span.name-text {
      font-size: 16px;
      font-weight: bold; }
    .concierge-modal .name span.kana {
      padding-left: 15px;
      font-weight: bold;
      font-size: 10px;
      line-height: 21px;
      font-family: 'Roboto Condensed'; }
  .concierge-modal .type {
    margin: 0 20px;
    margin-top: 10px; }
    .concierge-modal .type ul {
      padding-left: 23px;
      background: url(../img/concierge/tag.svg) no-repeat left 8px;
      background-size: 12px 12px; }
      .concierge-modal .type ul li {
        color: #669d11;
        font-size: 12px;
        line-height: 24px;
        display: inline-block;
        white-space: nowrap;
        margin-right: 9px;
        font-weight: bold; }
  .concierge-modal .text {
    padding: 0 20px 15px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 25px; }
  .concierge-modal .modal-number {
    position: absolute;
    bottom: -45px;
    width: 100%;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
    line-height: 25px;
    font-family: 'roboto condensed';
    letter-spacing: 0.1em; } }
