@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
/* #kv
-------------------------------------------------- */
@-webkit-keyframes pager {
  0% {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0); }
  100% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1); } }
@keyframes pager {
  0% {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0); }
  100% {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1); } }

#kv-container {
  position: relative;
  overflow: hidden; }
  #kv-container #kv-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover; }
  #kv-container #kv-copy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 10; }
    #kv-container #kv-copy #kv-copy-inner {
      overflow: hidden; }
  #kv-container #kv-scroll-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto; }
    #kv-container #kv-scroll-container .text {
      font-family: 'Roboto Condensed';
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;
      line-height: 1; }
    #kv-container #kv-scroll-container .arrow {
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
      position: relative; }
      #kv-container #kv-scroll-container .arrow svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
  #kv-container #kv-bg-slider {
    position: relative;
    background-color: #f3f2f0; }
    #kv-container #kv-bg-slider .slide {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0; }
      #kv-container #kv-bg-slider .slide.current {
        z-index: 4; }
        #kv-container #kv-bg-slider .slide.current > * > * {
          transition: all 7s cubic-bezier(0.645, 0.045, 0.355, 1);
          -moz-transition: all 7s cubic-bezier(0.645, 0.045, 0.355, 1);
          -webkit-transition: all 7s cubic-bezier(0.645, 0.045, 0.355, 1);
          -ms-transition: all 7s cubic-bezier(0.645, 0.045, 0.355, 1);
          transform: scale(1.05);
          -moz-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05); }
      #kv-container #kv-bg-slider .slide > * {
        width: 0;
        height: 100%; }
        #kv-container #kv-bg-slider .slide > * > * {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; }
      #kv-container #kv-bg-slider .slide.no01 {
        z-index: 3; }
        #kv-container #kv-bg-slider .slide.no01 > * {
          width: 100%; }
      #kv-container #kv-bg-slider .slide.no02 {
        z-index: 2; }
      #kv-container #kv-bg-slider .slide.no03 {
        z-index: 1; }
  #kv-container #kv-slider-pager {
    z-index: 10; }
    #kv-container #kv-slider-pager > * {
      background-color: #fff;
      cursor: pointer; }
      #kv-container #kv-slider-pager > *.current {
        -webkit-animation: m-hold 1.48s ease-in-out .48s both infinite alternate;
                animation: m-hold 1.48s ease-in-out .48s both infinite alternate;
        background-color: #669d11; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #loader-container #loader-container-inner {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    #loader-container #loader-container-inner #loader {
      width: 114px;
      height: 142px;
      padding: 26px 15px 0;
      top: 79px;
      left: 0;
      background-color: #fff; }
      #loader-container #loader-container-inner #loader svg {
        width: 114px;
        height: 115px;
        position: relative;
        top: 0px; }
  #kv-container #kv-copy {
    width: 690px;
    height: 300px; }
    #kv-container #kv-copy img {
      width: 690px;
      height: 300px; }
  #kv-container #kv-scroll-container {
    width: 50px;
    bottom: 30px; }
    #kv-container #kv-scroll-container .text {
      font-size: 14px;
      margin-bottom: 7px; }
    #kv-container #kv-scroll-container .arrow {
      width: 50px;
      height: 50px; }
      #kv-container #kv-scroll-container .arrow svg {
        width: 5px;
        height: 15px; }
  #kv-container #kv-bg-slider {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    #kv-container #kv-bg-slider .slide.no01 > * {
      width: 100%; }
      #kv-container #kv-bg-slider .slide.no01 > * > * {
        background-image: url("../img/index/kv-img01.jpg"); }
    #kv-container #kv-bg-slider .slide.no02 > * > * {
      background-image: url("../img/index/kv-img02.jpg"); }
    #kv-container #kv-bg-slider .slide.no03 > * > * {
      background-image: url("../img/index/kv-img03.jpg"); }
  #kv-container #kv-slider-pager {
    width: 6px;
    height: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 64px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10; }
    #kv-container #kv-slider-pager > * {
      width: 6px;
      height: 6px;
      margin-bottom: 9px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #top #loader-container {
    display: none; }
  #loader-container #loader-container-inner #loader {
    width: 80px;
    height: 93px;
    top: 75px;
    left: 20px; }
    #loader-container #loader-container-inner #loader svg {
      width: 80px;
      height: 93px; }
  #kv-container #kv-copy {
    width: 320px;
    height: 156px; }
    #kv-container #kv-copy img {
      width: 320px;
      height: 156px; }
  #kv-container #kv-scroll-container {
    width: 50px;
    bottom: 30px; }
    #kv-container #kv-scroll-container .text {
      font-size: 14px;
      margin-bottom: 7px; }
    #kv-container #kv-scroll-container .arrow {
      width: 50px;
      height: 50px; }
      #kv-container #kv-scroll-container .arrow svg {
        width: 5px;
        height: 15px; }
  #kv-container #kv-bg-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    #kv-container #kv-bg-slider .slide.no01 > * {
      width: 100%; }
      #kv-container #kv-bg-slider .slide.no01 > * > * {
        background-image: url("../img/index/kv-img01-sp.jpg"); }
    #kv-container #kv-bg-slider .slide.no02 > * > * {
      background-image: url("../img/index/kv-img02-sp.jpg"); }
    #kv-container #kv-bg-slider .slide.no03 > * > * {
      background-image: url("../img/index/kv-img03-sp.jpg"); }
  #kv-container #kv-slider-pager {
    width: 41px;
    height: 7px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10; }
    #kv-container #kv-slider-pager > * {
      width: 7px;
      height: 7px;
      float: left;
      margin-right: 10px; }
      #kv-container #kv-slider-pager > *:last-child {
        margin-right: 0; } }

/* # concept
-------------------------------------------------- */
#concept .text-container .text {
  display: block;
  overflow: hidden; }

#concept #concept-list li {
  position: relative;
  cursor: pointer; }
  #concept #concept-list li .list-inner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative; }
    #concept #concept-list li .list-inner .title {
      font-weight: bold;
      color: #fff;
      text-align: center;
      overflow: hidden; }
      #concept #concept-list li .list-inner .title * {
        font-weight: bold; }
  #concept #concept-list li .cover-container {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 157, 17, 0.9);
    position: absolute;
    bottom: 0;
    right: 0; }
    #concept #concept-list li .cover-container .cover-inner {
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto; }
      #concept #concept-list li .cover-container .cover-inner .cover-title {
        text-align: center; }
        #concept #concept-list li .cover-container .cover-inner .cover-title * {
          font-weight: bold; }
    #concept #concept-list li .cover-container * {
      color: #fff; }
    #concept #concept-list li .cover-container .trigger {
      position: absolute;
      right: 0;
      bottom: 0; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #concept {
    padding-top: 90px;
    padding-bottom: 100px; }
    #concept .section-inner .section-title {
      float: left; }
    #concept .section-inner .text-container {
      width: 600px;
      float: right; }
    #concept .section-inner #concept-list {
      clear: both;
      padding-top: 185px; }
      #concept .section-inner #concept-list li {
        width: 330px;
        height: 475px;
        float: left;
        margin-right: 45px; }
        #concept .section-inner #concept-list li .list-inner .icon {
          width: 95px;
          height: 95px;
          margin: 0 auto 20px;
          padding-top: 129px; }
          #concept .section-inner #concept-list li .list-inner .icon svg {
            width: 95px;
            height: 95px; }
        #concept .section-inner #concept-list li .list-inner .title {
          font-size: 20px; }
        #concept .section-inner #concept-list li.no1 {
          top: -160px; }
          #concept .section-inner #concept-list li.no1 .list-inner {
            background-image: url("../img/index/concept_bg1.png"); }
        #concept .section-inner #concept-list li.no2 {
          top: -80px; }
          #concept .section-inner #concept-list li.no2 .list-inner {
            background-image: url("../img/index/concept_bg2.png"); }
        #concept .section-inner #concept-list li.no3 {
          margin-right: 0; }
          #concept .section-inner #concept-list li.no3 .list-inner {
            background-image: url("../img/index/concept_bg3.png"); }
        #concept .section-inner #concept-list li .cover-container .cover-inner > * {
          padding-left: 35px;
          padding-right: 35px; }
        #concept .section-inner #concept-list li .cover-container .cover-inner .cover-title {
          font-size: 20px;
          margin-bottom: 30px; }
        #concept .section-inner #concept-list li .cover-container .trigger {
          width: 14px;
          height: 14px;
          line-height: 14px;
          padding: 13px; }
    #concept .bg-color {
      height: 360px;
      bottom: 170px; }
    #concept .bg-icon.no1 {
      display: none; }
    #concept .bg-icon.no2 {
      display: none; }
    #concept .bg-icon.no3 {
      margin-left: -132px;
      top: 248px; }
    #concept .bg-icon.no4 {
      display: none; }
    #concept .bg-icon.no5 {
      margin-left: -148px;
      bottom: 25px; }
    #concept .bg-icon.no6 {
      margin-left: -615px;
      top: 625px; }
    #concept .bg-icon.no7 {
      display: none; }
    #concept .bg-icon.no8 {
      margin-left: 474px;
      top: 270px; }
    #concept .bg-icon.no9 {
      display: none; }
    #concept .bg-icon.no10 {
      margin-left: -342px;
      top: 795px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #concept {
    padding-top: 45px;
    padding-bottom: 75px; }
    #concept .section-inner .text-container {
      margin-bottom: 30px; }
    #concept .section-inner #concept-list li {
      width: 100%;
      height: 200px;
      margin-bottom: 20px; }
      #concept .section-inner #concept-list li:last-child {
        margin-bottom: 0; }
      #concept .section-inner #concept-list li .list-inner .icon {
        width: 73px;
        height: 73px;
        margin: 0 auto 17px;
        padding-top: 36px; }
        #concept .section-inner #concept-list li .list-inner .icon svg {
          width: 73px;
          height: 73px; }
      #concept .section-inner #concept-list li .list-inner .title {
        font-size: 16px; }
      #concept .section-inner #concept-list li.no1 .list-inner {
        background-image: url("../img/index/smp_concept_bg1.jpg?2"); }
      #concept .section-inner #concept-list li.no2 .list-inner {
        background-image: url("../img/index/smp_concept_bg2.jpg?2"); }
      #concept .section-inner #concept-list li.no3 .list-inner {
        background-image: url("../img/index/smp_concept_bg3.jpg?2"); }
      #concept .section-inner #concept-list li .cover-container .trigger {
        width: 12px;
        height: 12px;
        line-height: 12px;
        padding: 9px; }
    #concept .bg-color {
      height: 360px;
      bottom: 170px; }
    #concept .bg-icon.no1 {
      display: none; }
    #concept .bg-icon.no2 {
      display: none; }
    #concept .bg-icon.no3 {
      display: none; }
    #concept .bg-icon.no4 {
      margin-left: -129px;
      bottom: 20px; }
    #concept .bg-icon.no5 {
      margin-left: 117px;
      top: 60px; }
    #concept .bg-icon.no6 {
      display: none; }
    #concept .bg-icon.no7 {
      display: none; }
    #concept .bg-icon.no8 {
      margin-left: 125px;
      bottom: -18px; }
    #concept .bg-icon.no9 {
      display: none; }
    #concept .bg-icon.no10 {
      display: none; } }

/* # how_to_use
-------------------------------------------------- */
#how_to_use .section-inner .text-container .title, #how_to_use .section-inner .text-container .text {
  overflow: hidden; }

#how_to_use .section-inner #how_to_use-list {
  position: relative; }
  #how_to_use .section-inner #how_to_use-list li {
    width: 100%;
    position: relative; }
    #how_to_use .section-inner #how_to_use-list li:before {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/common/arrow_down_green.svg") no-repeat center bottom;
      background-size: contain; }
    #how_to_use .section-inner #how_to_use-list li.no1 {
      z-index: 4; }
    #how_to_use .section-inner #how_to_use-list li.no2 {
      z-index: 3; }
    #how_to_use .section-inner #how_to_use-list li.no3 {
      z-index: 2; }
      #how_to_use .section-inner #how_to_use-list li.no3:before {
        display: none; }
    #how_to_use .section-inner #how_to_use-list li.no4 {
      z-index: 1; }
      #how_to_use .section-inner #how_to_use-list li.no4:before {
        display: none; }
    #how_to_use .section-inner #how_to_use-list li .list-inner {
      position: relative;
      z-index: 1; }
      #how_to_use .section-inner #how_to_use-list li .list-inner .no {
        background-color: #669d11;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        position: absolute;
        font-family: 'Roboto Condensed';
        font-weight: 700;
        letter-spacing: 0.1em; }
      #how_to_use .section-inner #how_to_use-list li .list-inner .text-container .text {
        font-size: 14px;
        line-height: 1.78; }
    #how_to_use .section-inner #how_to_use-list li .list-bg {
      width: 100%;
      height: 100%;
      background-color: rgba(123, 122, 121, 0.1);
      position: absolute;
      top: 0;
      left: 0; }
      #how_to_use .section-inner #how_to_use-list li .list-bg .bg {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: relative; }

#how_to_use .bg-color {
  height: 100%;
  position: absolute;
  top: 0; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #how_to_use {
    margin-bottom: 105px; }
    #how_to_use .section-inner {
      padding-top: 100px;
      padding-bottom: 70px; }
      #how_to_use .section-inner #how_to_use-list {
        left: 20px;
        margin-bottom: 50px; }
        #how_to_use .section-inner #how_to_use-list li:before {
          width: 16px;
          height: 55px;
          left: 210px;
          bottom: -40px;
          -webkit-transform: skew(-10deg);
          -moz-transform: skew(-10deg);
          -o-transform: skew(-10deg);
          -ms-transform: skew(-10deg); }
        #how_to_use .section-inner #how_to_use-list li .list-inner {
          padding-left: 130px;
          padding-right: 90px;
          padding-top: 40px;
          padding-bottom: 60px; }
          #how_to_use .section-inner #how_to_use-list li .list-inner .no {
            width: 45px;
            height: 55px;
            font-size: 20px;
            line-height: 55px;
            -webkit-transform: skew(-10deg);
            -moz-transform: skew(-10deg);
            -o-transform: skew(-10deg);
            -ms-transform: skew(-10deg);
            left: -25px;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto; }
          #how_to_use .section-inner #how_to_use-list li .list-inner .illust {
            width: 300px;
            float: left; }
            #how_to_use .section-inner #how_to_use-list li .list-inner .illust img {
              width: auto; }
          #how_to_use .section-inner #how_to_use-list li .list-inner .text-container {
            width: 560px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 90px;
            margin-top: auto;
            margin-bottom: auto; }
            #how_to_use .section-inner #how_to_use-list li .list-inner .text-container .text {
              font-size: 14px;
              line-height: 1.78; }
        #how_to_use .section-inner #how_to_use-list li.no1 {
          margin-bottom: -15px; }
          #how_to_use .section-inner #how_to_use-list li.no1 .list-inner .illust img {
            height: 160px; }
        #how_to_use .section-inner #how_to_use-list li.no2 {
          margin-bottom: -15px; }
          #how_to_use .section-inner #how_to_use-list li.no2 .list-inner .illust {
            margin-top: 25px;
            margin-left: -35px; }
            #how_to_use .section-inner #how_to_use-list li.no2 .list-inner .illust img {
              height: 160px; }
        #how_to_use .section-inner #how_to_use-list li.no3 .list-inner .illust {
          margin-top: 36px;
          margin-left: -30px; }
          #how_to_use .section-inner #how_to_use-list li.no3 .list-inner .illust img {
            height: 122px; }
        #how_to_use .section-inner #how_to_use-list li .list-bg {
          -webkit-transform: skew(-10deg);
          -moz-transform: skew(-10deg);
          -o-transform: skew(-10deg);
          -ms-transform: skew(-10deg); }
          #how_to_use .section-inner #how_to_use-list li .list-bg .bg {
            top: -10px;
            left: -10px; }
    #how_to_use .bg-icon.no1 {
      margin-left: -620px;
      top: 445px; }
    #how_to_use .bg-icon.no2 {
      display: none; }
    #how_to_use .bg-icon.no3 {
      display: none; }
    #how_to_use .bg-icon.no4 {
      margin-left: 590px;
      top: 140px; }
    #how_to_use .bg-icon.no5 {
      display: none; }
    #how_to_use .bg-icon.no6 {
      margin-left: 593px;
      bottom: 105px; }
    #how_to_use .bg-icon.no7 {
      margin-left: -620px;
      bottom: 250px; }
    #how_to_use .bg-icon.no8 {
      display: none; }
    #how_to_use .bg-icon.no9 {
      margin-left: 126px;
      top: 96px; }
    #how_to_use .bg-icon.no10 {
      margin-left: 586px;
      top: 624px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #how_to_use {
    margin-bottom: 65px; }
    #how_to_use .section-inner {
      padding-top: 48px;
      padding-bottom: 48px;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 5px; }
      #how_to_use .section-inner #how_to_use-list {
        margin-left: 20px;
        margin-right: 20px; }
        #how_to_use .section-inner #how_to_use-list li {
          margin-bottom: 17px; }
          #how_to_use .section-inner #how_to_use-list li:before {
            width: 16px;
            height: 55px;
            bottom: -40px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto; }
          #how_to_use .section-inner #how_to_use-list li .list-inner {
            padding-left: 17px;
            padding-right: 25px;
            padding-top: 25px;
            padding-bottom: 23px; }
            #how_to_use .section-inner #how_to_use-list li .list-inner .no {
              width: 50px;
              height: 50px;
              font-size: 20px;
              line-height: 50px;
              -webkit-transform: skew(-10deg);
              -moz-transform: skew(-10deg);
              -o-transform: skew(-10deg);
              -ms-transform: skew(-10deg);
              left: -25px;
              top: 52px; }
            #how_to_use .section-inner #how_to_use-list li .list-inner .illust {
              text-align: center;
              padding-top: 5px;
              padding-bottom: 10px; }
              #how_to_use .section-inner #how_to_use-list li .list-inner .illust img {
                display: inline-block;
                width: auto; }
            #how_to_use .section-inner #how_to_use-list li .list-inner .text-container {
              height: auto !important;
              padding-bottom: 10px; }
              #how_to_use .section-inner #how_to_use-list li .list-inner .text-container .title {
                text-align: center; }
              #how_to_use .section-inner #how_to_use-list li .list-inner .text-container .text {
                font-size: 14px;
                line-height: 1.78; }
          #how_to_use .section-inner #how_to_use-list li.no1 .list-inner .illust img {
            height: 120px; }
          #how_to_use .section-inner #how_to_use-list li.no2 .list-inner .illust img {
            height: 107px; }
          #how_to_use .section-inner #how_to_use-list li.no3 .list-inner .illust img {
            height: 85px; }
          #how_to_use .section-inner #how_to_use-list li .list-bg {
            width: 100% !important; }
            #how_to_use .section-inner #how_to_use-list li .list-bg .bg {
              top: -10px;
              left: -10px; }
    #how_to_use .bg-icon.no1 {
      left: 4px;
      top: 120vw; }
    #how_to_use .bg-icon.no2 {
      margin-left: -132px;
      top: 85px; }
    #how_to_use .bg-icon.no3 {
      display: none; }
    #how_to_use .bg-icon.no4 {
      left: 15px;
      bottom: 156px; }
    #how_to_use .bg-icon.no5 {
      left: inherit;
      right: 10px;
      top: 292px; }
    #how_to_use .bg-icon.no6 {
      display: none; }
    #how_to_use .bg-icon.no7 {
      margin-left: -620px;
      bottom: 250px; }
    #how_to_use .bg-icon.no8 {
      left: inherit;
      right: -10px;
      bottom: 140px; }
    #how_to_use .bg-icon.no9 {
      left: inherit;
      right: 0px;
      top: 618px; }
    #how_to_use .bg-icon.no10 {
      display: none; } }

/* # events
-------------------------------------------------- */
#no-events-list {
  border: 4px solid #e4e4e3; }
  #no-events-list .title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center; }
    #no-events-list .title * {
      font-weight: bold; }
  #no-events-list .text {
    text-align: center; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #events {
    margin-bottom: 95px; }
    #events #no-events-list {
      padding-top: 75px;
      padding-bottom: 75px; }
      #events #no-events-list .title {
        font-size: 30px; }
    #events .bg-icon.no1 {
      margin-left: 562px;
      top: 320px; }
    #events .bg-icon.no2 {
      margin-left: 270px;
      top: 0px; }
    #events .bg-icon.no3 {
      margin-left: 494px;
      bottom: -78px; }
    #events .bg-icon.no4 {
      display: none; }
    #events .bg-icon.no5 {
      margin-left: -630px;
      top: 403px; }
    #events .bg-icon.no6 {
      display: none; }
    #events .bg-icon.no7 {
      display: none; }
    #events .bg-icon.no8 {
      display: none; }
    #events .bg-icon.no9 {
      margin-left: -224px;
      bottom: 10px; }
    #events .bg-icon.no10 {
      display: none; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #events {
    margin-bottom: 72px; }
    #events #no-events-list {
      padding-top: 40px;
      padding-bottom: 40px; }
      #events #no-events-list .title {
        font-size: 20px;
        margin-bottom: 15px; }
      #events #no-events-list .text {
        text-align: center; }
    #events .bg-icon.no1 {
      display: none; }
    #events .bg-icon.no2 {
      margin-left: -115px;
      top: -69px; }
    #events .bg-icon.no3 {
      display: none; }
    #events .bg-icon.no4 {
      display: none; }
    #events .bg-icon.no5 {
      display: none; }
    #events .bg-icon.no6 {
      display: none; }
    #events .bg-icon.no7 {
      display: none; }
    #events .bg-icon.no8 {
      display: none; }
    #events .bg-icon.no9 {
      display: none; }
    #events .bg-icon.no10 {
      left: 11px;
      top: -20px; } }

/* # magazine
-------------------------------------------------- */
#magazine {
  margin-bottom: 100px; }
  #magazine #magazine-list {
    margin-bottom: 20px; }
  #magazine .bg-icon.no1 {
    display: none; }
  #magazine .bg-icon.no2 {
    display: none; }
  #magazine .bg-icon.no3 {
    display: none; }
  #magazine .bg-icon.no4 {
    margin-left: 328px;
    top: 114px; }
  #magazine .bg-icon.no5 {
    display: none; }
  #magazine .bg-icon.no6 {
    display: none; }
  #magazine .bg-icon.no7 {
    display: none; }
  #magazine .bg-icon.no8 {
    margin-left: -380px;
    bottom: 114px; }
  #magazine .bg-icon.no9 {
    display: none; }
  #magazine .bg-icon.no10 {
    margin-left: 492px;
    bottom: 88px; }

/* PC =================================== */
/* PC　ALL */
/* # information
-------------------------------------------------- */
#infomation .bg-color {
  height: 100%;
  position: absolute;
  top: 0; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #fixed-btn {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    top: 50%;
    margin-top: -50px;
    z-index: 1000; }
    #fixed-btn > * {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      border: 2px solid #282b30;
      position: relative; }
      #fixed-btn > * a:before {
        width: 17px;
        height: 17px;
        background-image: url("../img/common/icon_member_white.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        content: "";
        display: block; }
      #fixed-btn > * a .text {
        padding-top: 40px;
        display: inline-block;
        white-space: nowrap; }
      #fixed-btn > * * {
        line-height: 1.3; }
      #fixed-btn > * .line:before, #fixed-btn > * .line:after, #fixed-btn > * .line2:before, #fixed-btn > * .line2:after {
        display: none; }
      #fixed-btn > * .btn-inner:before, #fixed-btn > * .btn-inner:after {
        height: 52%; }
      #fixed-btn > *:hover {
        background-color: #fff; }
        #fixed-btn > *:hover a:before {
          background-image: url("../img/common/icon_member.svg?2"); }
  #infomation {
    margin-bottom: 90px; }
    #infomation .section-inner {
      padding-top: 95px;
      padding-bottom: 70px; }
    #infomation #infomation-list {
      margin-bottom: 50px; }
      #infomation #infomation-list article {
        height: 79px; }
        #infomation #infomation-list article .list-inner {
          padding: 27px 30px; }
          #infomation #infomation-list article .list-inner .date {
            width: 135px;
            float: left;
            text-align: center; }
          #infomation #infomation-list article .list-inner .text {
            width: calc(100% - 220px);
            float: left; }
          #infomation #infomation-list article .list-inner:before {
            width: 23px;
            height: 8px;
            right: 30px; }
        #infomation #infomation-list article:hover .list-inner:before {
          right: 10px; }
    #infomation .bg-icon.no1 {
      display: none; }
    #infomation .bg-icon.no2 {
      display: none; }
    #infomation .bg-icon.no3 {
      display: none; }
    #infomation .bg-icon.no4 {
      margin-left: 328px;
      top: 114px; }
    #infomation .bg-icon.no5 {
      display: none; }
    #infomation .bg-icon.no6 {
      display: none; }
    #infomation .bg-icon.no7 {
      display: none; }
    #infomation .bg-icon.no8 {
      margin-left: -380px;
      bottom: 114px; }
    #infomation .bg-icon.no9 {
      display: none; }
    #infomation .bg-icon.no10 {
      margin-left: 492px;
      bottom: 88px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #fixed-btn {
    display: none; }
  #infomation .section-title {
    margin-left: 20px;
    margin-right: 20px; }
  #infomation .section-inner {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0;
    margin-right: 0; }
  #infomation #infomation-list {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; }
    #infomation #infomation-list article .list-inner {
      padding: 18px;
      position: relative; }
      #infomation #infomation-list article .list-inner .date {
        margin-bottom: 10px; }
      #infomation #infomation-list article .list-inner .text {
        width: calc(100% - 40px); }
      #infomation #infomation-list article .list-inner:before {
        width: 20px;
        height: 7px;
        right: 15px; }
    #infomation #infomation-list article:hover .list-inner:before {
      right: 5px; }
  #infomation .bg-icon.no1 {
    margin-left: -98px;
    top: 12px; }
  #infomation .bg-icon.no2 {
    display: none; }
  #infomation .bg-icon.no3 {
    display: none; }
  #infomation .bg-icon.no4 {
    margin-left: -140px;
    bottom: -17px; }
  #infomation .bg-icon.no5 {
    left: inherit;
    right: 20px;
    bottom: 30px; }
  #infomation .bg-icon.no6 {
    left: -10px;
    bottom: 138px; }
  #infomation .bg-icon.no7 {
    display: none; }
  #infomation .bg-icon.no8 {
    display: none; }
  #infomation .bg-icon.no9 {
    margin-left: 135px;
    top: 67px; }
  #infomation .bg-icon.no10 {
    display: none; }
  #modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(102, 157, 17, 0.9);
    z-index: 10000;
    display: none; }
    #modal-container #modal-inner {
      position: absolute;
      width: 100%;
      display: table; }
      #modal-container #modal-inner #modal-contents {
        padding-left: 25px;
        padding-right: 25px;
        display: table-cell;
        vertical-align: middle; }
        #modal-container #modal-inner #modal-contents #modal-content * {
          color: #fff; }
        #modal-container #modal-inner #modal-contents #modal-content .title {
          font-size: 16px;
          text-align: center;
          padding-bottom: 16px;
          font-weight: bold; }
        #modal-container #modal-inner #modal-contents #modal-close {
          width: 50px;
          height: 60px;
          margin-top: 40px;
          margin-left: auto;
          margin-right: auto; }
          #modal-container #modal-inner #modal-contents #modal-close .icon {
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg); }
            #modal-container #modal-inner #modal-contents #modal-close .icon:before, #modal-container #modal-inner #modal-contents #modal-close .icon:after {
              content: "";
              display: block;
              position: absolute;
              background-color: #fff; }
            #modal-container #modal-inner #modal-contents #modal-close .icon:before {
              width: 100%;
              height: 1px;
              left: 0;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto; }
            #modal-container #modal-inner #modal-contents #modal-close .icon:after {
              width: 1px;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto; }
          #modal-container #modal-inner #modal-contents #modal-close .text {
            font-family: 'Roboto Condensed';
            font-weight: 700;
            letter-spacing: 0.1em;
            font-weight: bold;
            color: #fff;
            position: relative;
            left: 2px; } }

/* # access
-------------------------------------------------- */
#access .section-inner {
  width: inherit; }

#access #access-map {
  position: relative;
  z-index: 1; }

#access .access-container {
  background-color: #fff;
  position: relative;
  z-index: 2; }
  #access .access-container .cover-text .title {
    font-weight: bold; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #access .section-inner {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px; }
  #access .section-title {
    width: 1080px;
    margin-left: auto;
    margin-right: auto; }
  #access #access-map {
    width: 100%;
    height: 450px; }
  #access .access-container {
    width: 900px;
    margin: -60px auto 0;
    padding: 40px 80px 130px;
    box-sizing: border-box; }
    #access .access-container .access-content {
      display: table;
      width: 100%; }
      #access .access-container .access-content > * {
        display: table-cell;
        vertical-align: top; }
      #access .access-container .access-content .access-logo {
        width: 249px;
        padding-top: 16px; }
        #access .access-container .access-content .access-logo img {
          width: 249px;
          height: 53px; }
      #access .access-container .access-content .cover-text {
        padding-left: 65px; }
        #access .access-container .access-content .cover-text .title {
          margin-bottom: 5px; }
        #access .access-container .access-content .cover-text .text {
          font-size: 14px; }
  #access .bg-icon.no1 {
    margin-left: -306px;
    top: 54px; }
  #access .bg-icon.no2 {
    margin-left: 266px;
    top: 12px; }
  #access .bg-icon.no3 {
    margin-left: -576px;
    bottom: 118px; }
  #access .bg-icon.no4 {
    display: none; }
  #access .bg-icon.no5 {
    display: none; }
  #access .bg-icon.no6 {
    margin-left: 580px;
    bottom: 63px; }
  #access .bg-icon.no7 {
    display: none; }
  #access .bg-icon.no8 {
    display: none; }
  #access .bg-icon.no9 {
    display: none; }
  #access .bg-icon.no10 {
    display: none; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #access {
    padding-top: 75px;
    padding-bottom: 75px; }
    #access .section-inner {
      margin: 0; }
    #access .section-title {
      margin-left: 20px;
      margin-right: 20px; }
    #access #access-map {
      width: 100%;
      height: 315px; }
    #access .access-container {
      padding: 20px;
      margin: -90px 20px 0; }
      #access .access-container .access-content .access-logo {
        border-bottom: 1px solid #e4e4e3;
        padding-bottom: 20px;
        margin-bottom: 15px; }
        #access .access-container .access-content .access-logo img {
          width: 193px;
          height: 41px;
          display: block;
          margin-left: auto;
          margin-right: auto; }
      #access .access-container .access-content .cover-text .title {
        margin-bottom: 5px; }
      #access .access-container .access-content .cover-text .btn {
        margin-top: 10px;
        margin-bottom: 10px; }
    #access .bg-icon.no1 {
      display: none; }
    #access .bg-icon.no2 {
      margin-left: -115px;
      bottom: 30px; }
    #access .bg-icon.no3 {
      display: none; }
    #access .bg-icon.no4 {
      display: none; }
    #access .bg-icon.no5 {
      display: none; }
    #access .bg-icon.no6 {
      display: none; }
    #access .bg-icon.no7 {
      display: none; }
    #access .bg-icon.no8 {
      display: none; }
    #access .bg-icon.no9 {
      display: none; }
    #access .bg-icon.no10 {
      display: none; } }
