@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
/* #
-------------------------------------------------- */
#login-container .section-title-inner {
  position: relative; }
  #login-container .section-title-inner:before {
    content: "";
    display: block;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    background-color: #669d11;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto; }
  #login-container .section-title-inner .en {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    letter-spacing: 0.1em; }
  #login-container .section-title-inner .jp {
    vertical-align: middle;
    font-weight: bold; }

/* PC　サイズ別 */
@media only all and (min-width: 751px) {
  #login-container {
    padding-bottom: 100px; }
    #login-container .section-title {
      margin-top: 26px; }
      #login-container .section-title .section-title-inner {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        height: 100px; }
        #login-container .section-title .section-title-inner > * {
          float: left; }
        #login-container .section-title .section-title-inner:before {
          width: 28px;
          height: 7px; }
        #login-container .section-title .section-title-inner .en {
          font-size: 34px;
          line-height: 100px;
          padding-left: 50px; }
        #login-container .section-title .section-title-inner .jp {
          font-size: 16px;
          line-height: 100px;
          padding-left: 14px; }
    #login-container .section-inner {
      background: #f3f2f0; }
    #login-container #login_wrap {
      padding-top: 80px;
      padding-bottom: 60px; }
      #login-container #login_wrap .form_list li {
        margin-bottom: 20px; }
        #login-container #login_wrap .form_list li dl {
          display: table;
          margin: 0 auto; }
          #login-container #login_wrap .form_list li dl dt {
            width: 60px;
            font-size: 14px;
            display: table-cell; }
          #login-container #login_wrap .form_list li dl dd {
            display: table-cell; }
            #login-container #login_wrap .form_list li dl dd input {
              height: 40px;
              line-height: 40px;
              width: 420px;
              background: #fff; }
      #login-container #login_wrap .action {
        margin-top: 50px; }
        #login-container #login_wrap .action .btn .btn-inner button {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: .1em; }
        #login-container #login_wrap .action .text_remind {
          text-align: center;
          margin-top: 35px; }
          #login-container #login_wrap .action .text_remind a {
            color: #628618;
            font-size: 14px; }
            #login-container #login_wrap .action .text_remind a:after {
              margin-left: 5px;
              width: 23px;
              height: 8px;
              content: "";
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;
              background: url(../img/common/link-arrow_green.svg) no-repeat left top; }
  #forgot_password, #remind_password {
    padding-top: 55px;
    padding-bottom: 80px; }
    #forgot_password p.text, #remind_password p.text {
      font-size: 14px;
      line-height: 25px; }
    #forgot_password #pass_wrap, #remind_password #pass_wrap {
      margin-top: 30px;
      background: #f3f2f0;
      padding-top: 80px;
      padding-bottom: 60px; }
      #forgot_password #pass_wrap .form_list li, #remind_password #pass_wrap .form_list li {
        margin-bottom: 20px; }
        #forgot_password #pass_wrap .form_list li dl, #remind_password #pass_wrap .form_list li dl {
          display: table;
          margin: 0 auto; }
          #forgot_password #pass_wrap .form_list li dl dt, #remind_password #pass_wrap .form_list li dl dt {
            width: 120px;
            font-size: 14px;
            display: table-cell;
            font-weight: bold; }
          #forgot_password #pass_wrap .form_list li dl dd, #remind_password #pass_wrap .form_list li dl dd {
            display: table-cell; }
            #forgot_password #pass_wrap .form_list li dl dd input, #remind_password #pass_wrap .form_list li dl dd input {
              height: 40px;
              line-height: 40px;
              width: 420px;
              background: #fff; }
      #forgot_password #pass_wrap .action, #remind_password #pass_wrap .action {
        margin-top: 50px; }
        #forgot_password #pass_wrap .action .btn .btn-inner button, #remind_password #pass_wrap .action .btn .btn-inner button {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: .1em; }
        #forgot_password #pass_wrap .action .text_remind, #remind_password #pass_wrap .action .text_remind {
          text-align: center;
          margin-top: 35px; }
          #forgot_password #pass_wrap .action .text_remind a, #remind_password #pass_wrap .action .text_remind a {
            color: #628618;
            font-size: 14px; }
            #forgot_password #pass_wrap .action .text_remind a:after, #remind_password #pass_wrap .action .text_remind a:after {
              margin-left: 5px;
              width: 23px;
              height: 8px;
              content: "";
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;
              background: url(../img/common/link-arrow_green.svg) no-repeat left top; }
    #forgot_password .action, #remind_password .action {
      margin-top: 50px; }
      #forgot_password .action .btn .btn-inner button, #remind_password .action .btn .btn-inner button {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .1em; } }

/* SMP =================================== */
@media only all and (max-width: 750px) {
  #login-container {
    padding-bottom: 50px; }
    #login-container .section-title {
      margin-top: 0; }
      #login-container .section-title .section-title-inner {
        margin: 0 20px;
        height: 60px; }
        #login-container .section-title .section-title-inner > * {
          float: left; }
        #login-container .section-title .section-title-inner:before {
          width: 13px;
          height: 3px; }
        #login-container .section-title .section-title-inner .en {
          font-size: 20px;
          line-height: 60px;
          padding-left: 35px; }
        #login-container .section-title .section-title-inner .jp {
          font-size: 10px;
          line-height: 60px;
          padding-left: 14px; }
    #login-container .section-inner {
      margin-top: 5px;
      background: #f3f2f0; }
    #login-container #login_wrap {
      padding-top: 40px;
      padding-bottom: 40px; }
      #login-container #login_wrap .form_list {
        padding: 0 20px; }
        #login-container #login_wrap .form_list li {
          margin-bottom: 15px; }
          #login-container #login_wrap .form_list li dl {
            display: table;
            margin: 0 auto;
            width: 100%; }
            #login-container #login_wrap .form_list li dl dt {
              width: 55px;
              font-size: 14px;
              display: table-cell;
              font-weight: bold; }
            #login-container #login_wrap .form_list li dl dd {
              display: table-cell; }
              #login-container #login_wrap .form_list li dl dd input {
                height: 45px;
                line-height: 45px;
                background: #fff;
                width: 100%; }
      #login-container #login_wrap .action {
        margin-top: 30px; }
        #login-container #login_wrap .action .btn {
          height: 60px; }
          #login-container #login_wrap .action .btn .btn-inner button {
            line-height: 60px;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: .1em; }
        #login-container #login_wrap .action .text_remind {
          text-align: center;
          margin-top: 20px; }
          #login-container #login_wrap .action .text_remind a {
            color: #628618;
            font-size: 14px; }
            #login-container #login_wrap .action .text_remind a:after {
              margin-left: 5px;
              width: 23px;
              height: 8px;
              content: "";
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;
              background: url(../img/common/link-arrow_green.svg) no-repeat left top; }
  #forgot_password, #remind_password {
    padding-top: 15px;
    padding-bottom: 50px; }
    #forgot_password p.text, #remind_password p.text {
      font-size: 14px;
      line-height: 25px; }
    #forgot_password .action, #remind_password .action {
      margin-top: 30px; }
      #forgot_password .action .btn, #remind_password .action .btn {
        height: 60px; }
        #forgot_password .action .btn .btn-inner a, #forgot_password .action .btn .btn-inner button, #remind_password .action .btn .btn-inner a, #remind_password .action .btn .btn-inner button {
          line-height: 60px;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: .1em; }
    #forgot_password #pass_wrap, #remind_password #pass_wrap {
      margin-top: 15px;
      background: #f3f2f0;
      padding: 50px 20px; }
      #forgot_password #pass_wrap .form_list li, #remind_password #pass_wrap .form_list li {
        margin-bottom: 20px; }
        #forgot_password #pass_wrap .form_list li dl, #remind_password #pass_wrap .form_list li dl {
          margin: 0 auto; }
          #forgot_password #pass_wrap .form_list li dl dt, #remind_password #pass_wrap .form_list li dl dt {
            width: 120px;
            font-size: 14px;
            font-weight: bold; }
          #forgot_password #pass_wrap .form_list li dl dd, #remind_password #pass_wrap .form_list li dl dd {
            margin-top: 5px; }
            #forgot_password #pass_wrap .form_list li dl dd input, #remind_password #pass_wrap .form_list li dl dd input {
              height: 45px;
              line-height: 45px;
              width: 100%;
              background: #fff; } }
