/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
@media only all and (min-width: 751px) {
  #service {
    padding-bottom: 90px; }
    #service .section-container .section-contents {
      margin-left: -120px;
      width: 1080px;
      padding: 150px 120px 65px;
      background-color: #f3f2f0;
      position: relative; }
    #service .section-container .image {
      position: absolute;
      left: 120px;
      width: 1080px;
      height: 300px;
      top: -150px; }
    #service .section-container .text-block {
      display: table;
      width: 100%;
      margin-top: 40px; }
    #service .section-container .icon {
      display: table-cell;
      vertical-align: middle;
      width: 86px;
      height: 86px; }
    #service .section-container .title {
      display: table-cell;
      vertical-align: middle;
      font-size: 26px;
      line-height: 34px;
      font-weight: bold;
      padding-left: 20px;
      width: 360px; }
    #service .section-container .text {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: .1em; }
    #service .section-container .action {
      margin-top: 80px; }
    #service .section-container#service01 {
      margin-top: 230px; }
      #service .section-container#service01 .image {
        background: url(../img/service/photo01.jpg) no-repeat center; }
      #service .section-container#service01 .icon {
        background: url(../img/service/icon01.svg) no-repeat center;
        background-size: 86px 86px; }
    #service .section-container#service02 {
      margin-top: 290px; }
      #service .section-container#service02 .image {
        background: url(../img/service/photo02.jpg) no-repeat center; }
      #service .section-container#service02 .icon {
        background: url(../img/service/icon02.svg) no-repeat center;
        background-size: 86px 86px; }
    #service .section-container#service03 {
      margin-top: 290px; }
      #service .section-container#service03 .image {
        background: url(../img/service/photo03.jpg) no-repeat center; }
      #service .section-container#service03 .icon {
        background: url(../img/service/icon03.svg) no-repeat center;
        background-size: 86px 86px; } }

@media only all and (max-width: 750px) {
  #service {
    padding-bottom: 50px; }
    #service .section-inner {
      margin: 0; }
    #service .section-container .section-contents {
      padding: 90px 20px 40px;
      background: #f3f2f0;
      position: relative; }
    #service .section-container .image {
      position: absolute;
      left: 20px;
      right: 20px;
      height: 180px;
      top: -90px; }
    #service .section-container .text-block {
      width: 100%;
      margin-top: 20px; }
    #service .section-container .icon {
      display: table-cell;
      vertical-align: middle;
      width: 54px;
      height: 54px; }
    #service .section-container .title {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      line-height: 25px;
      font-weight: bold;
      padding-left: 10px;
      white-space: nowrap; }
    #service .section-container .text {
      margin-top: 13px;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: .1em; }
    #service .section-container .action {
      margin-top: 20px; }
    #service .section-container#service01 {
      margin-top: 115px; }
      #service .section-container#service01 .image {
        background: url(../img/service/photo01-sp.jpg) no-repeat center;
        background-size: cover; }
      #service .section-container#service01 .icon {
        background: url(../img/service/icon01.svg) no-repeat center;
        background-size: 54px 54px; }
    #service .section-container#service02 {
      margin-top: 140px; }
      #service .section-container#service02 .image {
        background: url(../img/service/photo02-sp.jpg) no-repeat center;
        background-size: cover; }
      #service .section-container#service02 .icon {
        background: url(../img/service/icon02.svg) no-repeat center;
        background-size: 54px 54px; }
    #service .section-container#service03 {
      margin-top: 140px; }
      #service .section-container#service03 .image {
        background: url(../img/service/photo03-sp.jpg) no-repeat center;
        background-size: cover; }
      #service .section-container#service03 .icon {
        background: url(../img/service/icon03.svg) no-repeat center;
        background-size: 54px 54px; } }
