@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
/* # vision
-------------------------------------------------- */
#vision-container #vision-inner {
  background-color: #f3f2f0;
  overflow: hidden;
  position: relative; }
  #vision-container #vision-inner .text-container {
    position: relative; }
    #vision-container #vision-inner .text-container:after {
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      position: absolute;
      background-color: #e8e6e2;
      opacity: 0.7; }
    #vision-container #vision-inner .text-container .text-container-inner {
      background-color: #fff;
      position: relative;
      z-index: 1; }
      #vision-container #vision-inner .text-container .text-container-inner .title {
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.15em; }

/* PC =================================== */
/* PC　ALL */
@media only all and (min-width: 751px) {
  #vision-container {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 3500px; }
    #vision-container #vision-inner {
      padding-top: 80px;
      height: 1070px; }
      #vision-container #vision-inner .text-container {
        width: 880px;
        margin: 0 auto; }
        #vision-container #vision-inner .text-container:after {
          width: 100%;
          height: 100%;
          top: 10px;
          left: 10px; }
        #vision-container #vision-inner .text-container .text-container-inner {
          padding: 85px 0 280px;
          position: relative; }
          #vision-container #vision-inner .text-container .text-container-inner .title {
            font-size: 24px;
            margin-bottom: 40px; }
          #vision-container #vision-inner .text-container .text-container-inner .text {
            font-size: 16px;
            line-height: 2.8;
            text-align: center; }
          #vision-container #vision-inner .text-container .text-container-inner:after {
            content: "";
            width: 770px;
            height: 440px;
            display: block;
            position: absolute;
            top: 109px;
            left: 0;
            right: 0;
            margin: auto;
            background: url("../img/vision/object.png") no-repeat center center; }
      #vision-container #vision-inner .build {
        width: 458px;
        position: absolute;
        top: 496px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2; }
    #vision-container .town-bg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 969px;
      background: url("../img/vision/bg-pc.png") no-repeat center bottom;
      background-size: 3500px 969px; } }

/* PC　サイズ別 */
/* SMP =================================== */
@media only all and (max-width: 750px) {
  #vision-container {
    max-width: 3200px; }
    #vision-container #vision-inner {
      padding-top: 35px;
      padding-bottom: 230px; }
      #vision-container #vision-inner .text-container {
        margin: 0 20px; }
        #vision-container #vision-inner .text-container:after {
          width: 100%;
          height: 100%;
          top: 10px;
          left: 10px; }
        #vision-container #vision-inner .text-container .text-container-inner {
          padding: 40px 30px 150px;
          position: relative; }
          #vision-container #vision-inner .text-container .text-container-inner .title {
            font-size: 16px;
            margin-bottom: 20px; }
          #vision-container #vision-inner .text-container .text-container-inner .text {
            line-height: 1.87; }
      #vision-container #vision-inner .build {
        width: 276px;
        position: absolute;
        bottom: -125px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2; }
    #vision-container .town-bg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 309.5px;
      background: url("../img/vision/bg-smp.png") no-repeat center bottom;
      background-size: 665px 309.5px; } }
